<form (ngSubmit)="search()">
  <input type="search" [formControl]="searchInput" (search)="search()" />
  <button type="submit">Search</button>
</form>

<table>
  <thead>
    <tr>
      <th>Video name</th>
      <th>Author</th>
      <th>Category name</th>
      <th>Highest quality format</th>
      <th>Release date</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let video of videosFiltered">
      <td>{{ video.name }}</td>
      <td>{{ video.authorName }}</td>
      <td>{{ video.categoryNames.join(", ") }}</td>
      <td>{{ video.formats | highestQualityFormat }}</td>
      <td>{{ video.releaseDate | date: releaseDateDisplayFormat }}</td>
      <td><a [routerLink]="[video.id]">Edit</a></td>
    </tr>
  </tbody>
</table>
